In [6]:
x=int(input("Enter first number:"))
y=int(input("Enter second number:"))
print("1.Add\n 2.Sub\n 3.Multiply\n")
ch=int(input("Enter the choice"))
if ch==1:
    sum=int(x+y)
    print(sum)
elif ch==2:
    sub=int(x-y)
    print(sub)
elif ch==3:
    multiply=int(x*y)
    print(multiply)

Enter first number:20
Enter second number:40
1.Add
 2.Sub
 3.Multiply

Enter the choice3
800

In [4]:
import random
print(random.randrange(1,61))

14

In [22]:
name="Arya Jagish"
for x in name:
    print(x)
print(name[1])
print("Jagish" in name)
print("Jagish" not in name)
print(name[0:4])
print(name[3:])
print(name[-5:-2])

A
r
y
a

J
a
g
i
s
h
r
True
False
Arya
a Jagish
agi

In [21]:
name="Arya Jagish"
print(name.upper())
print(name.lower())

ARYA JAGISH
arya jagish

In [28]:
name="         Arya Jagish"
print(name.strip())
print(name.split())
print(name.replace("A","H"))

Arya Jagish
['Arya', 'Jagish']
         Hrya Jagish

In [27]:
name=["Arya","Athul","Ashwin"]
name2={"Rishi","Malu"}
print(name)
print(name[0])
print(name[1])
print(name[2])
name.append("12")
print(name[0:3])
name.insert(1,"Rishi") #To insert a list item at a specified index
name.extend(name2)  # To append elements from another list to the current list
print(len(name))
print(name)
name.remove("Malu")
name.pop(2) #pop removes the specified index
del name[0] #del is a reserved keyword
print(name)
name.clear()
print(name)

['Arya', 'Athul', 'Ashwin']
Arya
Athul
Ashwin
['Arya', 'Athul', 'Ashwin']
7
['Arya', 'Rishi', 'Athul', 'Ashwin', '12', 'Malu', 'Rishi']
['Rishi', 'Ashwin', '12', 'Rishi']
[]

In [25]:
import numpy as np # to display arry in python, we have to import numPy

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [28]:
thislist = ["apple", "banana", "cherry"]  #for loop
for x in thislist:
  print(x)

apple
banana
cherry

In [32]:
thislist=["apple","banana","cherry"]  #for loop range
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [33]:
thislist=["apple","banana","cherry"] #while loop
i=0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [34]:
# Looping Using List Comprehension
thislist=["apple","banana","cherry"] 
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [37]:
thislist=["apple","banana","cherry"] 
newlist=[x for x in thislist if 'a' in x]
print(newlist)

['apple', 'banana']

In [39]:
thislist=["apple","banana","cherry","orange","amla"] 
thislist.sort()
print(thislist)

['amla', 'apple', 'banana', 'cherry', 'orange']

In [40]:
thislist=["apple","banana","cherry","orange","amla"] 
thislist.sort(reverse = True)
print(thislist)

['orange', 'cherry', 'banana', 'apple', 'amla']

In [44]:
#Customize the sort function......the no nearest to the list
def myfun(n):
    return abs(n-50)
thislist=[100,50,20,150,360]
thislist.sort(key=myfun)
print(thislist)

[50, 20, 100, 150, 360]

In [46]:
#Case Insensitive Sort

thislist=["APPLE","banana","CHERRY","orange","amla"] 
thislist.sort(key=str.lower)
print(thislist)

['amla', 'APPLE', 'banana', 'CHERRY', 'orange']

In [47]:
# fUNCTIONS

def myfun():
    print("HEllo")
myfun()

HEllo

In [48]:
def myfun(fname,lname):
    print(fname+" "+lname)
myfun("Arya","Jagish")

Arya Jagish

In [50]:
def my_function(*name):
  print("The youngest child is " + name[2])

my_function("arya", "athul", "ashwin")

The youngest child is ashwin

In [1]:
#keyword arguments

def myfun(name1,name2,name3):
    print("The youngest child is :" + name3)
myfun(name3="Arya",name2="Athul",name1="Ashwin")

The youngest child is :Arya

In [55]:
#arbitrary keyword arguments

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Arya", lname = "Jagish")

His last name is Jagish

In [57]:
#default parameter values

def myfun(name="Arya"):
    print("I am "+name)
myfun("Ashwin")
myfun("Athul")

I am Ashwin
I am Athul

In [58]:
#passing a list as an argument

def myfun(food):
    for x in food:
        print(x)
        
fruits=["apple","orange","grapes"]
myfun(fruits)

apple
orange
grapes

In [11]:
#Return function

def myfun(x):
    return 5*x

print(myfun(10))

50

In [13]:
#  Recursion

def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [15]:
#Copy a list

fruits=["Apple","Orange","Kiwi"]
mylist=fruits.copy()
print(mylist)

['Apple', 'Orange', 'Kiwi']

In [18]:
list1=['a','b','c']   #Not just a copy its just creating a refernce of list1
list2=list1
list1.append(1)
print(list2)

['a', 'b', 'c', 1]

In [26]:
#Join the list

list1=["a","b","c"]
list2=[1,2,3]

list3=list1+list2
print(list3)
list3.count(3)

['a', 'b', 'c', 1, 2, 3]

1

In [30]:
# count 

list1=["a","b","c",1,5,6]
list1.count(1)

1

In [23]:
thisdict = {
  "brand": ["Ford","Alto"],
  "model": ["Mustang","i10"],
    "price":[200000,150000],
    "year":2022

    
}
print(thisdict["year"])
print(len(thisdict))
print(thisdict["brand"])
print(thisdict["model"])
print(thisdict["price"])
x=thisdict.get("model")
x=thisdict.values()
x=thisdict.keys()
x=thisdict.values()
if "model" in thisdict:
  print("Yes, 'model' is keys in the thisdict")
print(x)

#Change data in dictionary

thisdict["year"]=2022

2022
4
['Ford', 'Alto']
['Mustang', 'i10']
[200000, 150000]
Yes, 'model' is keys in the thisdict
dict_values([['Ford', 'Alto'], ['Mustang', 'i10'], [200000, 150000], 2022])

In [59]:
thisdict1 = {
  "brand": ["Ford","Alto"],
  "model": ["Mustang","i10"],
    "price":[200000,150000],
    "year":2022   
}

thisdict={
    "flowers":["Rose","Lotus",True,False,thisdict1],
    "vegetables":["Carrot","Cabbage",None,range(0-2)],
    "Price":{12,23,44,0.12,2+4j},
    "Category":("a","b","c")

}
# print(thisdict["flowers"])
# print(thisdict["vegetables"])
# print(thisdict["Price"])
# print(thisdict["Category"])
# thisdict.update({"year": 2020}) 

tt =thisdict1["price"]
tt[0]=300000
print(tt)
thisdict.update({"Price": tt}) 
print(thisdict)

[300000, 150000]
{'flowers': ['Rose', 'Lotus', True, False, {'brand': ['Ford', 'Alto'], 'model': ['Mustang', 'i10'], 'price': [300000, 150000], 'year': 2022}], 'vegetables': ['Carrot', 'Cabbage', None, range(0, -2)], 'Price': [300000, 150000], 'Category': ('a', 'b', 'c')}

In [47]:
thisdict = {                #Change values
  "brand": "Ford",
  "model": "Mustang",
  "year": [1964,2023]
}
thisdict["year"] = 2022
thisdict["model"] = "3 Pro"
thisdict.update({"year": 2020}) #Update values
print(thisdict)

{'brand': 'Ford', 'model': '3 Pro', 'year': 2020}

In [77]:
thisdict = {                #Remove values
  "brand": ["Ford","Alto"],
  "model": ["Mustang","i10"],
  "year": [1964,2023]
}

# thisdict.pop("brand")
# thisdict.popitem()
# del thisdict["model"]
# print(thisdict)
for x in thisdict["brand"]:  #looping
    print(x)
mydict = dict(thisdict)  #Copying dict
print(mydict)

Ford
Alto
{'brand': ['Ford', 'Alto'], 'model': ['Mustang', 'i10'], 'year': [1964, 2023]}

In [79]:
child1 = {                      #nesting dict
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [1]:
for x in range(2,5):  #range
    print(x)

2
3
4

In [3]:
x=lambda a:a+10  #lambda Function
print(x(6))

16

In [4]:
def add_fun(x):
    x+=10
    return x

add_fun(5)

15

In [22]:
import numpy as np                #Array
import random                     

Nos=np.array([2,4,5,7])
RandomNo=np.array([random.choice(Nos)])

print(type(Nos))
print(Nos)
print(RandomNo)

<class 'numpy.ndarray'>
[2 4 5 7]
[2]

In [25]:
from numpy import random

x = random.rand(10)

print(x)
print(type(x))

[0.21513901 0.14217228 0.99728366 0.13409147 0.85542053 0.48394379
 0.78839143 0.51332146 0.5357691  0.04175302]
<class 'numpy.ndarray'>

In [21]:
from numpy import random 

x = random.choice([3, 5, 7, 9])

print(x)

5

In [27]:
# Class Ands Object

class MyClass:
    x=20
p1=MyClass()
print(p1.x)

20

In [33]:
# __init__function

class MyClass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
p1=MyClass("Arya",23)
print(p1.name)
print(p1.age)

Arya
23

In [34]:

class MyClass:
    def __init__(self,x,y):
        self.name=x
        self.age=y
        
p1=MyClass("Arya",23)
print(p1.name)
print(p1.age)

Arya
23

In [36]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John